.row {
    margin-right: 0;
    margin-left: 0;
}

.card {
    box-shadow: 4px 2px 2px 3px #7fc7ff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    float: none;
}

.card-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.card-buttons-group {
    text-align: right;
    padding: 10px;
}

.card-image {
    filter: grayscale(1);
    transition: 1s;
}
.card-image:hover {
    filter: grayscale(0);
}