

<form asp-controller="Test" asp-action="CreateFromFile" enctype="multipart/form-data" id="formCreateFromFile">
    <div class="form-group">
        <label for="fileInput">Выберите файл:</label>
        <input type="file" class="form-control-file" name="file" required>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>